<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/tabela-criterio.css}">
    <link rel="stylesheet" th:href="@{/css/ranking.css}">
    <title>GFT Milhas | Ranking do Evento</title>
</head>

<body>
    <div layout:fragment="content">
        <span class="alert alert-danger" th:if="${erroBuscar}" th:text="${erroBuscar}"></span>

        <div th:object="${evento}" th:if="${evento}">
            <div class="card mb-2">
                <div class="card-header p-0">
                    <img th:src="${evento.urlFoto != ''} ? ${evento.urlFoto} : @{https://images.unsplash.com/photo-1528243097678-739049bbf2e7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80}"
                        alt="" class="card-img-top imagem-card">
                </div>
                <div class="card-body row">
                    <p class="card-titulo"><span th:text="*{nome}"></span></p>
                    <p><span th:text="*{descricao}"></span></p>
                    <p class="col-md-3 card-destaque">Data Início: <span
                            th:text="${#dates.format(evento.dataInicio, 'dd/MM/yyyy')}"></span></p>
                    <p class="col-md-3 card-destaque">Data Final: <span
                            th:text="${#dates.format(evento.dataFinal, 'dd/MM/yyyy')}"></span>
                    </p>
                    <p class="col-md-3 card-destaque">Duração do Evento: <span th:text="*{diasEvento}"></span> dias</p>
                    <p class="col-md-3 card-destaque">Total de Participantes: <span th:text="*{totalParticipantes}"></span></p>
                </div>
            </div>

            <div class="mb-5">
                <a th:href="@{/ranking}" class="btn btn-primary">Voltar</a>
            </div>

            <h3>Ranking dos Grupos</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Posição</th>
                        <th>Nome</th>
                        <th>Pontuação</th>
                        <th>Bônus atividade</th>
                        <th>Bônus presença</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="grupo, itemStat : ${listaGruposRank}">
                        <td><span th:text="${itemStat.index + 1}"></span>º lugar</td>
                        <td class="d-flex gap-2">
                            <img th:src="${grupo.urlFoto != ''} ? @{${grupo.urlFoto}} : @{/images/imagemPadraoEquipe.jpg}"
                                alt="Imagem do participante" class="imagem-icon-grupo">
                            <p th:text="${grupo.nome}"></p>
                        </td>
                        <td><span th:text="${grupo.pontuacao}"></span> pts</td>
                        <td><span th:text="${grupo.bonusAtividade}? 'Sim': 'Não'"></span></td>
                        <td><span th:text="${grupo.bonusPresenca}? 'Sim': 'Não'"></span></td>
                    </tr>
                </tbody>
            </table>

            <div class="container-tabela mb-3 mt-5">
                <table class="tabela-criterio">
                    <caption class="tabela-titulo caption-top">GFT Milhas</caption>
                    <thead class="tabela-subtitulo">
                        <tr>
                            <th>Critério</th>
                            <th>Pontuação por grupo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Presença</td>
                            <td> 10</td>
                        </tr>
                        <tr>
                            <td>Atividade</td>
                            <td> 5</td>
                        </tr>
                        <tr>
                            <td>Atraso</td>
                            <td>-2</td>
                        </tr>
                        <tr>
                            <td>Bônus 100% presença</td>
                            <td> 5</td>
                        </tr>
                        <tr>
                            <td>Bônus 100% atividade</td>
                            <td> 3</td>
                        </tr>
                    </tbody>
                </table>
                <p class="descricao-tabela-criterio mt-3">Foi utilizado essas regras para o cálculo da pontuação dos
                    grupos.</p>
            </div>

        </div>
    </div>
</body>

</html>