.header {
    background-color: #6FD6DB;

  }

  .header a {
    color: #1d5d92;
    text-decoration: none;
    font-weight: bold;
    padding: .3em .5em;
    transition: .1s ease-in;
  }

  .header a:hover:not(.logo) {
    background-color: #42749E;
    border-radius: 5px;
    color: #FFF;
  }

  .navegacao{
    display: flex;
    gap: 20px;
    align-items: baseline;  
  }

  .header .logo{
    background-color: #001C6D;
    background-color: #003D82;
    color: #fff;
    padding: .1em .4em .1em 4em;
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .logo::after{
    content: '';
    width: .7em;
    height: .7em;
    background-color: #fff;
    margin-left: .5em;
  }

  .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 3;
    font-size: 1.1rem;
  }

  .links ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding-left: .4rem;
  }