.container-tabela{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tabela-criterio{
    width: 400px;
}

.tabela-titulo{
    width: 400px;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    background-color: #001C6D;
    border: 1px solid #000;
    border-bottom: 0px;
}

.tabela-criterio thead{
    background-color: #003D82;
    text-align: center;
    color: #000;
    font-weight: 500;
}

.tabela-criterio td,
.tabela-criterio th{
    border: 1px solid #000;
    padding: 3px;
}

.tabela-criterio tr td:nth-child(2){
    text-align: center;
}

.tabela-subtitulo tr {
    color: #FFF;
}

